app .NET/CP.FastConsig.WebApplication/Service References/FastConsigCenterService/ServiceUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9998/ServiceUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsignatarias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsignatariasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ListarConsignatariasResult" nillable="true" type="q3:ArrayOfConsignataria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsignantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsignantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ListarConsignantesResult" nillable="true" type="q4:ArrayOfConsignante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuarioPorCpf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCriador" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCriador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuarioPorCpfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirUsuarioPorCpfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemUsuarioPorLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemUsuarioPorLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ObtemUsuarioPorLoginResult" nillable="true" type="q5:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemUsuarioPorCpf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemUsuarioPorCpfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ObtemUsuarioPorCpfResult" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idConsignataria" type="xs:int" />
        <xs:element minOccurs="0" name="novoCpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idConsignante" type="xs:int" />
        <xs:element minOccurs="0" name="idCriador" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCriador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemConsignante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsignante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemConsignanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ObtemConsignanteResult" nillable="true" type="q7:Consignante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemConsignataria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsignataria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemConsignatariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ObtemConsignatariaResult" nillable="true" type="q8:Consignataria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsignataria" type="xs:int" />
        <xs:element minOccurs="0" name="idConsignante" type="xs:int" />
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCriador" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCriador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="novoCpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCriador" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCriador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlterarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignantesDoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignantesDoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ConsignantesDoUsuarioResult" nillable="true" type="q9:ArrayOfConsignante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignantesDaConsignataria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsignataria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignantesDaConsignatariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ConsignantesDaConsignatariaResult" nillable="true" type="q10:ArrayOfConsignante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignatariaDoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsignatariaDoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CP.FastConsig.Services" minOccurs="0" name="ConsignatariaDoUsuarioResult" nillable="true" type="q11:Consignataria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSenhaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="novaSenha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCriador" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCriador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSenhaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlterarSenhaUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>